@import "tailwindcss";

#guitar{
  background-image: url(img/gitar.png);
  background-repeat: no-repeat;
  background-position: top;
}

#drums{
  background-image: url(img/drums.png);
  background-repeat: no-repeat;
  background-position: top;
}

#ukulele{
  background-image: url(img/ukulele.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Achord {
  background-image: url(img/guitar/A.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#Echord {
  background-image: url(img/guitar/Em.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#Dchord {
  background-image: url(img/guitar/D.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#Gchord {
  background-image: url(img/guitar/G.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#Bchord {
  background-image: url(img/guitar/B.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#Cchord {
  background-image: url(img/guitar/C.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.keret{
  border: 4px solid black;
  transition: border 0.3s;
}

.kerethvr{
  border: 4px solid yellow;
}
.keret:hover{
  border: 4px solid yellow;
}

.backBTN{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.nameanimation {
    font-size: 20px;
    font-weight: bold;
    animation: nameanimation 5s infinite forwards;
    color: red;
}

@keyframes nameanimation {
    0% {color: red;}
    20% {color: blue;}
    40% {color: greenyellow;}
    60% {color: yellow;}
    80% {color: orange;}
    90% {color: orangered;}
    100% {color: red;}
}